* {
    margin: 0;
    padding: 0;
}
/* ==========  HEADER ========== */
header {
    background-color: aqua;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

header > h1 {
    margin-left: 10px;
}

#busca-input {
    width: 70px;
    height: 30px;
    margin-right: 100px;
    padding: 3px 7px;
}

/* ==========  MAIN  ========== */

main {
    height: 80vh;
    display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr 1fr;

}

main>div {
    margin: 20px 20px;
}

#video {
    display: flex;
    justify-content: center;
}

img {
    height: 110px;
}

.card {
    border: 1px solid ;
}

.container {
    padding: 10px;
}
/* ==========  FOOTER  ========== */
footer {
    background-color: rgb(114, 116, 116);
    color: rgb(207, 201, 201);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

