body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}

.green-background {
    background-color: green;
    display: grid;
    justify-content: center;
    align-content: center;
}

.yellow-background {
    background-color: yellow;
    display: grid;
    justify-content: center;
    align-content: center;
}

.pink-background {
    background-color: fuchsia;
    display: grid;
    justify-content: center;
    align-content: center;
}

.blue-background {
    background-color: blue;
    height: 30vh;
    width: 50vw;
    display: grid;
    justify-content: center;
    align-content: center;
}

.red-background {
    background-color: red;
    height: 15vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 15vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.purple-background {
    background-color: purple;
    height: 5vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

#top-container {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 5vh;
    
}

.pink-background {
    display: grid;
    height: 60vh;
    justify-content: center;
    align-content: center;
}

#middle-container {
    display: grid;
    grid-template-columns: 33.333% 43.333% 23.333%;
    height: 30vh;
}   
